<div style="text-align:center">
  <h1>Welcome to {{ restaurantName }}</h1>
  <!-- <img width="300" alt="Angular Logo" src="{{ restaurantLogo }}" /> -->
</div>

<div
  class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-2@m"
>
  <h3 class="uk-card-title">Order</h3>
  <div class="container">
    <div class="row">
      <div class="col">
        <label> OrderNo.</label>
        <input type="orderNo" class="form-control" placeholder="OrderNo" />
      </div>
      <div class="col">
        <label>Payment Method</label>
        <select class="custom-select custom-select-sm">
          <option selected>Select Payment Method</option>
          <option value="1">Cash</option>
          <option value="2">Card</option>
        </select>
      </div>
      <div class="w-100"></div>
      <br />
      <div class="col">
        <label>Customer</label>
        <select class="custom-select custom-select-sm">
          <option selected>Select Payment Method</option>
          <option value="1">Cash</option>
          <option value="2">Card</option>
        </select>
      </div>
      <div class="col">
        <label>Grand Total</label>
        <input type="text" class="form-control" placeholder="Grand Total" />
      </div>
    </div>
  </div>
</div>

<!-- This is a button toggling the modal -->
<button
  class="uk-button uk-button-default uk-margin-small-right"
  type="button"
  uk-toggle="target: #modal-example"
>
  Open
</button>

<!-- This is the modal -->
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Order Item</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <app-menu-items></app-menu-items>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Cancel
      </button>
      <button class="uk-button uk-button-primary" type="button">Save</button>
    </p>
  </div>
</div>
