<div style="text-align:center">
  <h1>Welcome to {{ restaurantName }}</h1>
  <!-- <img width="300" alt="Angular Logo" src="{{ restaurantLogo }}" /> -->
</div>

<div
  class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-2@m"
>
  <h3 class="uk-card-title">Order</h3>
  <div class="container">
    <div class="row">
      <div class="col">
        <label> OrderNo.</label>
        <input
          type="orderNo"
          class="form-control"
          placeholder="OrderNo"
          [(ngModel)]="orderNo"
        />
      </div>
      <div class="col">
        <label>Payment Method</label>
        <select class="custom-select custom-select-sm">
          <option selected>Select Payment Method</option>
          <option value="1">Cash</option>
          <option value="2">Card</option>
        </select>
      </div>
      <div class="w-100"></div>
      <br />
      <div class="col">
        <label>Customer</label>
        <select class="custom-select custom-select-sm">
          <option selected>Select Customer</option>
          <option *ngFor="let customer of customerData">{{
            customer.name
          }}</option>
        </select>
      </div>
      <div class="col">
        <label>Grand Total</label>
        <input type="text" class="form-control" placeholder="Grand Total" />
      </div>
    </div>
  </div>
</div>

<div
  class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-2@m"
>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">
          <!-- This is a button toggling the modal -->
          <button
            class="btn btn-success"
            type="button"
            uk-toggle="target: #modal-example"
          >
            AddItem
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
        <td>{{ order.foodItem }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.total }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <button type="button" class="btn btn-dark" (click)="saveOrders()">
    Submit</button
  >&nbsp;
  <button type="button" class="btn btn-dark">View Orders</button>
</div>

<!-- This is the modal -->
<div *ngIf="showModal"></div>
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Order Item</h2>
    <!-- <app-menu-items></app-menu-items> -->
    <div>
      <label>Food Item</label>
      <select
        class="custom-select custom-select-sm"
        (change)="selectMenuitem($event)"
      >
        <option selected>select</option>
        <option [value]="i" *ngFor="let menuitem of menuitems; let i = index">{{
          menuitem.name
        }}</option>
      </select>
      <div class="row">
        <div class="col">
          <label>Price</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="price"
            placeholder="Price"
          />
        </div>
        <div class="col">
          <label>Quantity</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="quantity"
            placeholder="Quantity"
            (ngModelChange)="valuechange($event)"
          />
        </div>
      </div>
      <div>
        <label>Grand Total</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="total"
          placeholder="Grand Total"
        />
      </div>
    </div>

    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Done
      </button>
      <button
        class="uk-button uk-button-primary"
        type="button"
        (click)="addItems()"
      >
        Save
      </button>
    </p>
  </div>
</div>
